# Database Configuration
DATABASE_URL=

# Core Authentication
JWT_SECRET=

# Email Service (Resend)
RESEND_API_KEY=
EMAIL_FROM=

# Maintenance & Admin
ADMIN_EMAIL=
ADMIN_NEW_PASSWORD=

# Integrations (Optional/As needed)
ABACATE_PAY_SECRET=
GOOGLE_TAG_MANAGER_ID=
NEXT_PUBLIC_API_URL=
